.content{
	&__container{
		display: flex;
		flex-direction: column;
			@media screen and (max-width:767.9px) {
				margin-left: -10px;
				margin-right: -10px;
			}
	}
	&__link{
		-webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    padding-top: 23px;
    margin: 0 10px 10px 10px;
		@media screen and (min-width:768px) {
			margin: 0 0 10px 0;
      text-align: center;
		}
		button.content__expand {
    color: $--accent-color;
    font-size: 13px;
    letter-spacing: 0.005em;
    height: 20px;
    line-height: 20px;
    padding-right: 15px;
    position: relative;
    left: 0px;
		background: transparent;
		&:after{
			content: "";
			width: 7px;
			height: 5px;
			display: inline-block;
			background: transparent none no-repeat center center;
			background-size: 100% auto;
			position: absolute;
			right: 0px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			z-index: 33;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			background-image: url(../images/ico_expand.svg);
			.content__body-expanded &{
				-webkit-transform: rotate(180deg) translateY(50%);
			transform: rotate(180deg) translateY(50%);
			}
		}
	}
}

		&__expand{
			color: $--link-color;
			font-size: 13px;
			letter-spacing: 0.005em;
			height: 20px;
			line-height: 20px;
			padding-right: 15px;
			position: relative;
			left: 0px;
			cursor: pointer;
			-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
		    outline: none;
		}
&__body{
	color: rgb(255, 255, 255);
    max-height: 316px;
    overflow: hidden;
    position: relative;
    left: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 17px 20px 0px 20px;
    border-radius: 20px 20px 0 0;
    position: relative;
		@media screen and (min-width:768px) {
			margin-left: 0;
		}
		@media screen and (min-width:1024px) {
			padding-top: 60px;		
		}
		&.content__body-expanded {
    max-height: none;
    color: rgba(255, 255, 255, 0.8);
		}
		&__in{
			width: 100%;
			margin: 0 auto;
			@media screen and (min-width:1024px) {
					max-width:800px;			
			}
		}
}
		p + ul, 
		p + ol, 
		p + ul, 
		p + ol {
			margin-top: -5px;
		}
		h1{
			padding-bottom: 7px;
			@media screen and (min-width:1024px) {
			padding-bottom: 29px;
			}
		}
		h2{
			@media screen and (min-width:1024px) {
				padding-bottom: 25px;
        padding-top: 31px;
			}
		}
		h3{
			padding-top: 0;
			padding-bottom: 0;
			margin-top: 20px;
			margin-bottom: 20px;
			@media screen and (min-width:1200px) {
				margin-top: 40px;
        margin-bottom: 30px;

			}
		}
		p{
			padding: 10px 0;
			@media screen and (min-width:1200px) {
				padding: 14px 0;
				padding-bottom: 30px;
			}
				font-size: 18px;  
			}
		
		ul{
			margin-top: -5px;			
			padding-bottom: 3px;
			@media screen and (min-width:1200px) {
				margin-bottom: 15px;
			}
			li{
				padding-bottom: 8px;
    		padding-left: 23px;
				position: relative;
				line-height: 1.5em;
				font-size: 16px;
				@media screen and (min-width:1200px) {
					padding-left: 27px;
        	padding-bottom: 13px;
				}
					@media screen and (min-width:768px) and (max-width:1199.9px){						
						font-size: 18px;
					}
					@media screen and (min-width:1200px){						
						font-size:21px;
					}
				&:before{
					content: "";
					display: inline-block;
					width: 6px;
					height: 6px;
					border-radius: 1px;
					position: absolute;
					left: 0px;
					top: 9px;
					z-index: 33;
					background-color: rgba(255, 255, 255, 0.8);
					@media screen and (min-width:1200px) {
						width: 8px;
						height: 8px;
						top: 13px;
					}
				}
			}
		}
		img{
			border-radius: 20px;
			position: relative;
			margin-top: 5px;
		}
		ol{
				margin-bottom: 37px;
				li{
					
					position: relative;
					padding: 11px 0 11px 33px;
					font-size: 14px;
					// min-height: 85px;
					line-height: 1.3em;
					counter-increment: ol;
					list-style-image: none;
					list-style-type: none;
					border-top: 0.8px solid $--bg-after;
					@media screen and (min-width:768px) {
						padding: 21px 0 21px 92px;
						font-size: 18px;
					}
					@media screen and (min-width:768px) and (max-width:1199.9px){
						
						font-size: 18px;
					}
					@media screen and (min-width:1200px){
						
						font-size:21px;
					}

					&::before{
						content: "0" counter(ol);
						width: 23px;
						height: 23px;
						display: inline-block;
						border-radius: 77px;
						position: absolute;
						left: 0px;
						top: 11px;
						font-size: 10px;
						z-index: 33;
						border: 1.5px solid rgba(255, 255, 255, 0.2);
						line-height: 21px;
						text-align: center;
						@media screen and (min-width:768px) {							
							width: 50px;
							height: 50px;
							top: 21px;
							font-size: 17px;
							line-height: 48px;
							transform: translateY(-11px);
						
					}
				}
			}
	}
	a{
		color:$--link-color;
		text-decoration: underline;
		transition: .3s linear;
		font-weight: 400;
		&:hover{
			text-decoration: none;
		}
	}
}
