.disease{
	color: $--white;
	&__title{		
    flex-direction: column-reverse;
		justify-content: space-between;
    border-radius: 20px;
		display: flex;
    padding: 20px 20px 22px;
    background: transparent url(../images/bg_diseas.jpg) no-repeat center center;
    background-size: 100% 100%;
		color: $--white;
		@media screen and (min-width:1024px) {
			border-radius: 30px;
        padding: 60px;
		}
		@media screen and (min-width:768px) {
			flex-direction:row;
		}

	}
	&__left{
		padding-top: 11px;		
		@media screen and (min-width:1024px){
			width: calc(100% - 450px);
		}
	
		h1{
			font-weight: 600;
			font-size: 26px;
			line-height: 1.1em;
			letter-spacing: -0.01em;
			padding-bottom: 0;
			@media screen and (min-width:1400px) {
				font-size: 44px;
        line-height: 44px;
        padding-bottom: 25px;
        font-weight: normal;
			}
		}
		& .btns{
			margin-top: 15px;
			max-width: 390px;
			margin-left: auto;
			margin-right: auto;
			@media screen and (min-width:1024px) {
				margin: 0;
				margin-top: 50px;
			}
			img{
				max-width: 93px;
			}
			.btn{
				padding: 20px 67px 21px 19px;
			}
			.btn:not(.white-btn){
				width: calc(100% - 103px);
			}
		}
	}
	&__right{
		width: 100%;
		@media screen and (min-width:1024px) {
			width: 400px;
		}
		@media screen and (min-width:768px) and (max-width:1023.9px) {
			width: 43%;
		}
		img{
			width: 100%;
		}
	}
	&__textContent{
		padding: 10px;
		@media screen and (min-width:768px) {
			padding: 20px;
		}

	}
	&__plan{
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding-bottom: 25px;
		&__date{
			display: flex;
			gap: 6px;
			align-items: center;
			justify-content: space-between;
			
			&-content{
				font-size: 14px;
				line-height: 1;
				letter-spacing: 0.02em;
			}
			&-updated{
				padding: 3px 7px;
				border-radius: 6px;
				font-size: 9px;
				color: $--date-color ;
				text-transform: uppercase;
				background: $--date-bg;
				span{
					font-weight: 500;
    			margin-left: 3px;
				}
			}
		}
		&__toc{
			ul{
    counter-reset: toc; 
				display: flex;
				flex-direction: column;
				gap: 6px;
				@media screen and (min-width:1024px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
				}
				li{
					a{
						display: flex;
						align-items: center;
						text-decoration: none;
						font-weight: 500;
						font-size: 12px;
						letter-spacing: 0.012em;
						min-height: 36px;
						line-height: 1.35;
						width: 100%;
						color: $--white;
						border-radius: 11px;
						border: 1px solid$--border-toc-color;
						padding: 10px 30px;
						transition: 0.2s;
						position: relative;
						counter-increment: toc;
						&:hover{
							background-color: $--border-toc-color;
							border-color: transparent;
						}
						&:before{
							content: "";
							display: inline-block;
							width: 6px;
							height: 6px;
							position: absolute;
							left: 12px;
							top: 14px;
							z-index: 32;
							background: transparent url(../images/arrow.svg) center / contain no-repeat;
							transform: rotate(90deg);
							-webkit-filter: brightness(0) invert(1);
							filter: brightness(0) invert(1);
						}
						&::after {
							content: "0" counter(toc);
							color: $--white;
							font-size: 9px;
							font-weight: 300;
							letter-spacing: 0.002em;
							position: absolute;
							right: 9px;
							top: 12px;
							z-index: 33;
						}
					}
				}
			}
		}
	}
	&__body{
		color:$--disease;
		p img, img{
			border-radius: 20px;
			position: relative;
			margin-top: 23px;
			width: 100%;
		}
		
	}
	&__text-titleH1{
		font-size: 24px;
    line-height: 1.6em;
    font-weight: 600;
    letter-spacing: -0.03em;
    padding-bottom: 19px;
		color: $--white;
	}
	&__icons{
		max-width: 500px;
    margin-left: auto;
    margin-right: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		&__item{
			display: flex;
			flex-direction: column;
			gap: 10px;			
		}
		&__image{
		background: $--tabs-bg;
    border-radius: 29px;
    position: relative;
    left: 0;
    max-width: 80px;
    max-height: 80px;
		width: 100%;
		height: 100%;
		aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
		img{
			width: 30px;
			height: auto;
			display: block;
			margin: 0;
		}
		}
		&__title{
			font-size: 12px;
			line-height: 120%;
			text-align: center;
			color: $--white;
			padding-top: 10px;
		}
		
		
	}
	&__two__cols{
		display: flex;
		flex-wrap: wrap;
		border: 1px solid $--bg-after;
    border-radius: 20px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
		justify-content: space-between;
		&__left{
			@media screen and (min-width:768px) {
				width: calc(100% - 300px);
			}
			ul li{
				font-size: 14px;
				padding-bottom: 0;
				margin-bottom: 8px;
				&::before{
					top: 7px;
				}
			}
			p, div{
				font-size: 15px;
				@media screen and (min-width:768px) {
					font-size: 18px;
				}
			}
		}
		&__right{
			background: $--hover-blue;
			border-radius: 18px;
			position: relative;
			left: 0px;
			padding: 16px 26px;
			margin-top: 13px;
			@media screen and (min-width:768px) {
				max-width: 270px;
				width: 100%;
        padding: 25px 26px;
			}
		}
	}
	&__methods{
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		counter-reset: methodlink;
		@media screen and (min-width:768px) {
			display: grid;		
		}
		@media screen and (min-width:1024px) {
		grid-template-columns: repeat(3, 1fr);
		}
		@media screen and (min-width:768px) and (max-width:1023.9px) {
		grid-template-columns: repeat(2, 1fr);
		}
	}
	&__method{
		width: 100%;
		text-decoration: none;
    border: 1px solid $--bg-after;
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 177px;
		display: flex;
		counter-increment: methodlink;
		margin: 0 0 32px 0;
		&:hover{
			background: $--hover-blue;
			.disease__method__top:before{
				border-color: $--white;
				background-color: transparent;
			}
		}
		&__top {
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 11px;
    color: $--block-grey;
    line-height: 1.4em;
    position: relative; 

    &:before {
      content: "0" counter(methodlink);
      width: 22px;
      height: 22px;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 33;
      background: $--bg-after;
      border: 1px solid transparent;
      border-radius: 8px;
      color: $--white;
      font-size: 10px;
      letter-spacing: -0.012em;
      line-height: 20px;
      text-align: center;
			transition: .2s;
    }
  }
		&__name{
			color: $--white;
    font-size: 18px;
    line-height: 1.35em;
    padding-top: 16px;
    font-weight: 500;
		}
		&__bottom{
			color: $--white;
			font-size: 12px;
			line-height: 1.15em;
			letter-spacing: 0.01em;
			margin-top: auto;
			position: relative;
			&:after{
				content: "";
				width: 11px;
				height: 11px;
				display: inline-block;
				position: absolute;
				right: 0px;
				top: 0px;
				z-index: 33;
				background: transparent url(../images/arrow-white.svg) no-repeat center center;
				background-size: 100% auto;
				transform: rotate(45deg);
			}
		}
	}
	&__text__button{
		border-radius: 20px;
    position: relative;
    left: 0px;
    padding: 20px;
    background: $--dark-blue;
		margin: 0 0 32px 0;
		@media screen and (min-width:1024px) {
			margin: 0 0 60px 0;
			padding: 60px;
			border-radius: 30px;
		}
		&__title{
			font-size: 24px;
			color: $--white;
			font-weight: 600;
			margin-bottom: 7px;
			@media screen and (min-width:1024px) {
				font-size: 35px;
        line-height: 1.5em;
        margin-bottom: 14px;
        max-width: 560px;
			}
			strong{
				font-weight: 600;
			}
		}
		&__body{
			p{				
				@media screen and (min-width:1200px) {
					padding-bottom: 30px;
				}
			}
		}
		&__link{
			margin-top: 17px;
			@media screen and (min-width:1200px) {
				margin-top: 25px;
			}
		}

	}
	&__panel{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		flex-direction: column;
		padding: 20px 10px;
		@media screen and (min-width:768px) {
			flex-direction: row;
			padding: 40px 20px 20px 20px;
		}
	}
	&__author{
		display: flex;
		gap: 10px;
		width: 100%;
		@media screen and (min-width:768px) {
			max-width: 364px;
		}
		img{
			border-radius: 100px;
			width: 60px;
			height: 100%;
			aspect-ratio: 1;
			object-fit: cover;
		}
		&__right{
			display: flex;
			flex-direction: column;
			gap: 5px;
			width: calc(100% - 80px);
			color: $--white;		
		}
		&__name{
				font-size: 16px;
				font-weight: 500;
				line-height: 1.35em;
				padding-bottom: 7px;
			}
			&__label{
				font-size: 12px;
				letter-spacing: 0.01em;
				line-height: 1.3em;
			}
	}
	&__authorpanel__updated{
		font-size: 12px;
		color: $--date-color;
	}
	&__diploma{
		&__items{
			justify-content: center;
		}
		&__image{
			img{
				max-width: 100%;
				width: 100%;
			}
		}
	}
}
	.doctors-slider{
			padding-bottom: 40px;
		}
		