.faq{
	&__container{
	color: $--white;
	padding: 20px 10px;
	gap: 16px;
	background: $--faq-bg;
	border: 1px solid $--bg-smooth-color;
	border-radius: 30px;
	@media screen and (min-width:1024px) {
		gap: 40px;
		margin: 19.5px auto 22.5px auto;
		border: none;
	}
	@media screen and (min-width:768px) and (max-width:1023.9px) {
		width: 100%;
		margin-left: 0;
		padding: 60px;
	}
	@media screen and (min-width:768px) {
		padding: 60px;
	}
	}
	&__title{
		margin: 0 0 16px;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
		@media screen and (min-width:1024px) {
			font-size: 44px;
			line-height: 100%;
			margin: 0 0 24px;
			}
	}
	&__items{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;
	}
	&__item{
		background: $--cost-bg;
    border-radius: 30px;
    padding: 18px 20px 7px 20px;
		@media screen and (min-width:1024px) {
			padding: 28px 30px 14px 30px;
			gap: 16px;
			width: calc(50% - 10px);
			min-height: 119px;
		}
	
		&__top{
			gap: 15px;
			span{
				font-size: 16px;
				line-height: 21px;
				letter-spacing: -0.4px;
				color: rgba(255, 255, 255, 0.3);
			}
			p{
				margin-bottom: 0;
			}
			
			p{
				font-size: 18px;
				font-size: 21px;        
				transition: .3s linear;
				color: #EFEFEB;
    		line-height: 1.3em;
				@media screen and (min-width:1024px) {
					font-size: 21px;
					line-height: 145%;
				}
			}
		}
		&.active{
			.faq__item-icon{
				& svg{
					transform: rotate(0deg);					
				}
			}
		}
		&-bottom{
			p, li, a{
			  font-size: 14px;
				color: #EFEFEB;
				line-height: 145%;
				letter-spacing: 0.01em;			
			&:not(:nth-last-of-type(1)){
				margin-bottom: 20px;
				@media screen and (min-width:768px) {
					margin-bottom: 30px;
				}
			}
			
			}
			a{
				color: $--link-color;
				transition: .2s;
				&:hover{
					color: inherit;
					text-decoration: underline;
				}
			}
			}
			&-icon{
			min-width: 32px;
			min-height: 32px;	
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			transition: .3s linear;
			margin-left: auto;
				svg{
					width: 100%;
					height: 100%;
					transition: .3s linear;
					transform: rotate(-45deg);
					*{
						transition: .3s linear;
					}
				}			
	}
	}
	
}