@font-face {
	font-family: 'SF Pro Display';
	src: url(../fonts/SFProDisplay-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url(../fonts/SFProDisplay-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: 'SF Pro Display';
	src: url(../fonts/SFProDisplay-Bold.ttf);
	font-weight: 700;
}


//new project
// 🔵 Blue / Cyan
$--dark-blue: #223859;                 
$--blue: rgba(34, 56, 89, 0.8);        
$--hover-blue: #28538F;                
$--doctors-label: #354D7A;             
$--bg-smooth: rgba(34, 56, 89, 0.8);   
$--link-light-color: #75A6EE;          
$--link-color: #00ACB7;                
$--accent-color: rgb(65, 244, 255);    

// ⚫ Dark / Background
$--body-bg: #00112D;                   
$--cost-bg: #303C52;                  

// ⚪ Light / Transparent
$--white: #ffffff;
$--bg-smooth-color: rgba(255, 255, 255, 0.1);  
$--bg-after: rgba(255, 255, 255, 0.2);         
$--grey-block-list: rgba(255, 255, 255, 0.1019607843); 
$--links-bg: rgba(249, 251, 255, 0.2);         
$--links-hover: rgba(249, 251, 255, 0.4);      
$--header-color: rgba(255, 255, 255, 0.5);     
$--date-color: rgba(255, 255, 255, 0.7);  
$--disease: rgba(255, 255, 255, 0.8);  
$--border-toc-color:rgba(214, 219, 227, 0.2);   
    

// 🟤 Grey / Neutral
$--block-grey: #687181;                
$--tabs-bg: rgba(72, 79, 91, 0.7);     
$--tabs-bg-active: #6C7583;            
$--reviews-bg: rgba(108, 117, 131, 0.6980392157); 
$--date-bg: rgba(217, 217, 217, 0.2); 
$--black:rgb(0, 0, 0);

// 🌈 Gradient
$--gradient: linear-gradient(133.4deg, #87CDB2 19%, #00ACB7 48.94%);

html.has-popup,
html.open,
html.search-active,
html.open-filter{
	overflow: hidden;
}

.container{
	max-width: 1880px;
	padding: 0 10px;
	margin: 0 auto;
	@media screen and (min-width:1920px) {
		max-width: 1970px;		
	}

	@media screen and (min-width:768px) {
		padding: 0 20px;
	}
}
body{
	font-family:'SF Pro Display', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: $--black;
	line-height: 1.5em;
	background: $--body-bg;
	
	background-position: center top;
	background-size: 140vw auto;
	background-repeat: no-repeat;	
	&.home,
	&.front-page{
	background-image: url('../images/bg_bb_desk.jpg');
	}
}
.titleH1{
	@include titleH1;
}
.titleH2{
	@include titleH2;
}
.titleH3{
	@include titleH3;
}
.pt-m{
	padding-top: 40px;
	@media screen and (min-width:768px) {
		padding-top: 60px;
	}
}
.lang{
	display: flex;
	padding: 5px 15px;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
.btn{
    border: 1px solid transparent;
    left: 0px;
    display: flex;
		align-items: center;
		max-height: fit-content;
		gap: 10px;
    border-radius: 77px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    transition: 0.2s;
    white-space: nowrap;
    text-align: left;
		border: 1px solid $--white;
		padding: 14px 67px 14px 19px ;
		background-color: transparent;
		color: $--white;
		line-height: 1.1;
		position: relative;
			@media screen and (min-width:1920px) {
			font-size: 22px;
			gap: 22px;
		}
			@media screen and (min-width:1400px) {
			padding: 20px 67px 20px 19px;
		}
			@media screen and (min-width:1200px) and (max-width:1919.9px) {
			font-size: 15px;
			gap: 15px;
		}
			&:before,
			&:after{
			content: '';
			width: 32px;
			height: 32px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			right: 10px;	
			transform: .2s;		
		}
			&:before{
			background-color:$--gradient;
			transform: translateY(-50%);
		}
			&:after{
				transform: translateY(-50%) rotate(45deg);
				background: transparent url(../images/arrow-white.svg) center center / 10px no-repeat;
				transition:background-color .2s;
				@media screen and (min-width:1200px) {
					background-size: 20px;
				}
			}
		&:hover{
			background-color: $--white;
			color: $--dark-blue;
		}
		
	&.white-btn{
		background-color: $--white;		
		background-image: none;	
		border-radius: 77px;
		width: auto;
		color: $--dark-blue;
		border-color: $--white;
		-webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
		position: relative;
		&:before{
			background:$--gradient;
			transform: translateY(-50%);
		}

		&:hover{
			background-color: transparent;
			color: $--white;
			&:before{
				background: $--white;
			}
			&:after{
				filter: invert(1);
			}
			
		}
		
	}
	&.btn-grey{
		border: 1px solid rgba(255, 255, 255, 0.5019607843);
    background: rgba(249, 249, 249, 0.231372549);
		padding-right: 57px;
		&:hover{
			background-color: $--white;
			color: $--dark-blue;
		}
		&:before{
			background:$--white;
		}
		&:after{
			background-size: 10px;
			filter: invert(1);
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}
.selected{
	color: $--accent-color;
}
.breadcrumbs{	
	margin: 20px 0 30px 0;
	color: $--white;
	@media screen and (min-width:768px) {
		margin: 35px 0 40px 0;
	}

	&__links{
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
		color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: 13px;
		align-items: center;
			a{
				&:nth-of-type(1){
					width: 10px;
					height: 10px;
					background: url(../images/home.svg) center center / cover no-repeat;
				}
			}
	&	a:not([class]){
			transition: .3s linear;
			text-decoration: none;
			&:hover{
				color: $--link-color;
			}
		}
		margin-bottom: 10px;
		@media screen and (min-width:768px) {
			margin-bottom:24px ;
		}
	}
	h1{
		@include titleH2;
		@media screen and (min-width:1200px) {
			font-size: 72px;
		}
		@media screen and (max-width:767.9px) {
			font-size: 28px;
		}
	}

}
.scroll{
	width: 100%;
	overflow: hidden;
	overflow-x: auto;
}
.btns{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 20px;
	column-gap: 10px;
	
		@media screen and (max-width:767.9px) {
				padding: 20px 20px 25px 20px;
				width: 100%;
	}
		@media screen and (min-width:1024px) {
	max-width: 457px;
	}

	& .btn{
		justify-content: space-between;
		width: calc(100% - 142px);
		text-wrap-style: pretty;
			white-space: normal;
		@media screen and (min-width:1400px) {
			width: calc(100% - 152px);
		}
			@media screen and (min-width:1200px) {
			font-size: 19px;
			padding: 30px 65px 30px 25px;
		}
		&:before,
		&:after{
			@media screen and (min-width:1200px) {
				width: 48px;
			height: 48px;
			right: 17px;
			}
		}
		&:before{
			background-color: rgba(255, 255, 255, 0.19);
		}
		&.white-btn{
			width: 100%;
			&:hover{
				&:before{
					background-color: $--white;
				}
			}
		}			
		&:hover{
			&:before{
				background-color: $--dark-blue;
			}
		}
	}
	img{
		max-width: 132px;
		max-height: 56px;
		width: 100%;
		height: 100%;
		@media screen and (min-width:1400px) {
			max-width: 140px;
		}
	}
}
// .project__pagination{
// 	display: flex;
// 	align-items: center;
// 	gap: 20px;
// 	width: fit-content;
// 	margin: 0 auto;
// 	&__arrow{
// 		display: flex;
// 		align-items: center;
// 		gap: 4px;
// 		color: $--green;
// 		font-size: 12px;
// 		font-style: normal;
// 		font-weight: 500;
// 		line-height: normal;
// 		opacity: .5;
// 		transition: .3s linear;
// 		@media screen and (min-width:768px) {
// 			font-size: 14px;
// 			gap: 10px;
// 		}
// 		&.active{
// 			opacity: 1;
// 			cursor: pointer;
// 			&:hover{
// 			color: $--gold;
// 			svg path{
// 				stroke: $--gold;
// 			}
// 			}
// 		}
// 		svg{
// 			width: 15px;
// 			height: 15px;
// 			path{
// 				transition: .3s linear;
// 			}
			
// 		}

// 	}
// 	&__wrap{
// 		display: flex;
// 		align-items: center;
// 		gap: 8px;
// 		width: 100%;
// 		justify-content: space-around;
// 		span{
// 			padding: 8px 8px;
// 			background-color: $--white;
// 			color: $--green;
// 			border: 1px solid $--green;
// 			border-radius: 50%;
// 			text-align: center;
// 			transition: .3s linear;
// 			max-width: 32px;
// 			width: 100%;
// 			display: inline-block;
// 			text-align: center;
// 			min-width: 32px;
// 			cursor: pointer;
// 			&:hover{
// 				background-color: $--green;
// 				color: $--white;
// 			}
// 			@media screen and (min-width:768px) {
// 				padding: 10px;
// 				max-width: 40px;
// 				min-width: 40px;
// 			}
// 			.active &{
// 				background-color: $--green;
// 				color: $--white;
// 			}
// 		}
// 	}
// }
	.contact__form__messenger{
			&-title{
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 22px;
				line-height: 1.2em;
				padding-bottom: 10px;
				width: 100%;
				@media screen and (min-width:768px) {
				font-size: 25px;
			}
			}
		}
	.contact__link{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		flex-direction: column;
		background: rgba(217, 217, 217, 0.2);
    border-radius: 23px;
    color: #fff;
    padding: 12px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.35s ease, color 0.35s ease;
		width: 100%;
			@media screen and (min-width:768px) {
				-webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        padding: 14px;
        gap: 8px;
			}

			&:hover{
			background-color: $--white;
			color: $--dark-blue;
			}
			svg{
				min-width: 24px;
				min-height: 24px;
				max-width: 24px;
				max-height: 24px;
				width: 100%;
				height: 100%;
				path{
					transition: .3s linear;
				}
				@media screen and (min-width:768px) {
					min-width: 32px;
				min-height: 32px;
				max-width: 32px;
				max-height: 32px;
				}
			}
		
	}

	.contact__links{
		display: flex;		
		gap: 4px;
		flex-direction: column;
		@media screen and (min-width:768px) {
			flex-direction: row;
		}
		@media screen and (max-width:767.9px) {
			margin-bottom: 20px;
		}

	}

.block-grey{
	background: rgba(255, 255, 255, 0.168627451);
    background: rgba(255, 255, 255, 0.17);
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
}

.slider-arrow {
		width: 48px;
    height: 48px;
    display: inline-flex;
		align-items: center;
		justify-content: center;
    background-color: rgba(255, 255, 255, 0.1882352941);
    border-radius: 100px;
    z-index: 33;
		cursor: pointer;
		transition: all .3s linear;
		&.swiper-button-disabled{
			opacity: .5;
			cursor: not-allowed;
			&:hover{
				background-color: rgba(255, 255, 255, 0.1882352941);
				svg{
				path{
					fill: $--white;
				}
			}
			}
		}
		&.swiper-button-lock{
			display: none;
		}
		&:hover{
			background-color: $--white;
			svg{
				path{
					fill: $--dark-blue;
				}
			}
		}
		svg{
			width: 20px;
			height: auto;
			transition: all .3s linear;
		}
}

.slider-next{
transform: rotate(180deg);
}
.widget__title{
	@media screen and (min-width:1200px) {
		font-size: 72px;
		line-height: 1.1em;
		font-weight: 400;
		letter-spacing: 0;
	}
	font-size: 50px;
	line-height: 1em;
	font-weight: 500;
	letter-spacing: -0.01em;
}

/* Весь скролбар */
::-webkit-scrollbar {
  width: 8px;   /* для вертикального */
  height: 8px;  /* для горизонтального */
}

/* Доріжка (фон) */
::-webkit-scrollbar-track {
  background: $--bg-after;
  border-radius: 10px;
}

/* Повзунок */
::-webkit-scrollbar-thumb {
  background: $--date-bg;
  border-radius: 10px;
  transition: background 0.3s;
}

/* При ховері */
::-webkit-scrollbar-thumb:hover {
  background: rgba(34, 56, 89, 1);
}
/* Тонка смуга */
html {
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: rgba(34, 56, 89, 0.8) rgba(255, 255, 255, 0.1);
}
