.services{
	margin-top: 60px;
	&__list{
		display: flex;
		gap: 10px;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 10px;
	
		&-item{
			display: flex;
			align-items: center;
			gap: 15px;
			width: calc((100% / 3) - 10px);
			cursor: pointer;
			flex: 0 0 auto;
			border-radius: 20px;
		@media screen and (min-width:1024px) {
			        flex-shrink: unset
		}
			&.active{
			 button{
				background-color: $--tabs-bg-active;
					color: $--white;
					svg{
						transform: rotate(90deg);
						circle{
						fill: #00acb7;
					}
					}
					img{
					opacity: 1;
					}
			}
		}
			button{
				width: 100%;
				padding: 14px;
				font-size: 12px;
				line-height: 1.2;				
				border-radius: 20px;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-justify-content: space-between;
				-ms-flex-pack: justify;
				justify-content: space-between;
				text-align: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				gap: 10px;
				height: 100%;
				overflow: hidden;
				position: relative;
				background-color: $--tabs-bg;
				color: rgba(255, 255, 255, 0.7);
			transition: .3s linear;
				svg{
					transition: .3s linear;
					transform: rotate(45deg);
					circle{
						transition: .3s linear;
						fill: #484F5B;
					}
				}
				@media screen and (min-width:1024px) {
					display: grid;
					grid-template-columns: minmax(auto, calc(100% - 80px)) minmax(80px, 80px);
				}
				span{
					line-height: 1.2;
					font-size: 14px;
					text-align: left;
					@media screen and (min-width:1024px) {
					grid-column: 1 / 1;
					grid-row: 1 / 2;		
					font-size: 20px;
						}
						@media screen and (min-width:768px) and (max-width:1023.9px) {
							font-size: 18px;
						}
				}
				img{
					opacity: .2;
					transition: .3s linear;
					@media screen and (min-width:1024px) {
					grid-column: 2 / 3;
					grid-row: 1 / 2;				}
				}
				svg{
					@media screen and (min-width:1024px) {
					grid-column: 1 / 1;
					grid-row: 2 / 2;				}
				}
			}
		}
	}
	&__content{
		&__wrap{
			display: grid;
		}
		&__item{
			display: flex;
			flex-direction: column;
			gap: 8px;

		}
	}
	
}